* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1150px;
}

.container2 {
    margin: 0 auto;
    max-width: 1440px;
}

.header{
    width: 100%;
    display: flex;
    position: fixed;
    background: #fff;
    z-index: 1;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 200px;
    height: 110px;
    justify-content: space-between;
    font-family: sans-serif;
}

.list li {
    list-style-type: none;
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

b {
    font-size: 23px;
}

.list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.navsol {
    display: flex;
    align-items: center;
    height: 100%;
}

.navsag {
    display: flex;
    align-items: center;
}

.burger {
    display: none;
}

.sol {
    width: 630px;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sag {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.sekil {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
}
.sekil img {
    width: 287px;
    height: 256px;
    position: absolute;
}

.esas {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 30px 100px;
    color: #fff;
    width: 100%;
}

.sol {
    width: 40%;
}



.sol img {
    height: 540px;
    width: 630px;

}

main {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    margin-top: 150px;
}

.btn1 {
    background-color: transparent;
    width: 120px;
    height: 40px;
    color: #fff;
}
.salam {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    h1 {
        color: #fff;
        margin-top: -10px;
        font-size: 52px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.salam1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hvr{
    width: 287px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.9;
    display: none;
}
.sekil:hover{
    .hvr{
        display: block;
        position: absolute;
    }
    .sekil img {
        height: 540px;
        width: 630px;
    
    }
    .sekil{
        width: 630px;
    height: 540px;
    }
}

.hr{
    margin: 50px 0;
}
h2{
    font-size:35px;
}
.kid_card{
    width: 350px;
    height: 480px;
    padding-top: 50px;
}
.kid_card img{
    width: 350px;
    height: 370px;
}
.kids_sekil{
    display: flex;
    gap: 50px;
}
ul li{
    list-style-type: none;
}
ul{
    display: flex;
}
.kid_value{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.card_value{
    padding-top: 30px;
}
.pk{
color: gray;
    padding-top: 10px;
}
.sol_content{
    a{
        color: blue;
    }
    p{
        color: gray;
    }
    .sol_ic{
        padding: 10px;
        width: 570px;
    height: 540px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    }
}
.icnp{
    display: flex;
    gap: 5px;
    p{
        color: black;
    }
}
.scbtn{
    width: 140px;
    height: 50px;
    background-color: transparent;   
}
.scbtn:hover{
    background-color: black;
    color: #fff;
}
.sag_content{
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 30px;
    
}
.contsekil{
    width: 255px;
    height: 255px;
    img{
        width: 255px;
    height: 255px;
    }
}
.explore{
    display: flex;
    margin-bottom: 30px;
}
.contsekil1{
    width: 255px;
    height: 255px;
    img{
        width: 255px;
    height: 255px;
    }
}
.contsekil4{
    width: 255px;
    height: 255px;
    img{
        width: 255px;
    height: 255px;
    }
}
.socialimg{
    display: flex;
    margin: 50px 15px;
}
.imgs{
    width: 185px;
    height: 185px;
    
}
.imgs img{
    width: 185px;
    height: 185px;
}
.social p{
    color: gray;
}
.social{
    margin-top: 50px;
}
.subscribing{
    padding: 0 15px;
    width: 760px;
    height: 282px;

}
.inpt input{
    width: 300px;
    height: 30px;
    padding: 0 20px;
}
.inpt{
margin: 40px 0;

}

.subscribing h2{
font-size: 40px;
}
.subscribing p{
    margin-top: 20px;
    color: gray;
}
.sag1{
    width: 190px;
    height: 282px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
}
.sbscrb{
    margin-top: 30px;
    display: flex;
    margin-bottom: 60px;
}
.sag_sbscrb{
    display: flex;
    font-size: 10px;
}
.sag1 p{
    color: gray;
    font-size: 15px;
}
footer{
    background-color: #2a2a2a;
    height: 480px;
    margin-top: 20px;
    color: #fff;
    padding-top: 60px;
}
.footcont{
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 205px;
    gap: 20px;
}
footer a{
    color: #fff;
}
.hexafoot{
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot_yuxari{
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}
.end{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.endicon{
    color: rgb(107, 213, 213);
    font-size: 28px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.end a{
    color:rgb(107, 213, 213) ;
}