* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.div1{
    background-image: url(./images/images.jpg);
    height: 100vh; 
    background-size: cover;

}

.div2{
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}